.container-card{
    border: 2px solid #673ab780;
    border-radius: 3px;
    margin: 10px 5px 0 5px;
}

.card-header{
    border-bottom: 1px solid #673ab780;
}

.icone{
    color: #673ab780;
}

.texto-item-lista{
    color: #673ab7;
}

.card-header{
    color: #673ab7;
}