.area-cards {
  margin: 20px 0 20px 0;
}

.card {
  border: solid;
  border-radius: 5px;
  width: 90%;
  border: 2px solid #673ab780;
}

.texto {
  text-align: center;
  font-size: 20px;
  color: #673ab7;
}

.area-texto {
  margin: 20px 0 20px 0;
}
