<div class="total-area">
    <div class="texto-area" fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="center">
            <h1 class="titulo" fxFlex="100">Skills Overview</h1>
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
            <div class="texto" fxFlex="60" fxFlex.xs="90">I have more than 8 years' experience building
                rich web applications for clients all over the
                world. Below is a
                quick overview of my main technical skill sets and tools I use. Want to find out more about my
                experience?
                Check
                out my online resume.
            </div>
        </div>
    </div>

    <div class="cards-area" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center">
        <div class="frontend-card" fxFlex="20">
            <app-skills-card nome="Front-End" [lista]="feTechs"></app-skills-card>
        </div>
        <div class="backend-card" fxFlex="20">
            <app-skills-card nome="Back-End" [lista]="beTechs"></app-skills-card>
        </div>
        <div class="others-card" fxFlex="20">
            <app-skills-card nome="Others" [lista]="othersTechs"></app-skills-card>
        </div>
    </div>
</div>