<div class="total-area">
    <div class="texto-area">
        <h1 class="titulo">Skills Overview</h1>
        <div class="texto">I have more than 8 years' experience building rich web applications for clients all over the
            world. Below is a
            quick overview of my main technical skill sets and tools I use. Want to find out more about my experience?
            Check
            out my online resume.
        </div>
    </div>

    <div class="cards-area" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
        <div class="frontend-card" fxFlex="20">
            FE card
        </div>
        <div class="backend-card" fxFlex="20">
            BE card
        </div>
        <div class="others-card" fxFlex="20">
            Others card
        </div>
    </div>
</div>