<table mat-table [dataSource]="listaAdm" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="area">
    <th mat-header-cell *matHeaderCellDef> Área </th>
    <td mat-cell class="pointable" *matCellDef="let element" (click)="acessaDetalhes(element.caminhoBd)"> {{element.nome}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
