/* You can add global styles to this file, and also import other style files */

@import '~font-awesome/css/font-awesome.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.tela-grande {
    // border: 1px solid #673AB730;
    // width: 80%;
    // margin-left: 10%;
    // margin-right: 10%;
    // padding: 10px 15px;
}

.tela-pequena {
    // padding: 5px 8px;
}




// estilo comum a toda a aplicação

.pointable{
    cursor: pointer;
}